

.btn{
	cursor: pointer;
}
.text-green{
	color: #0048cd;
}

.bg-green{
	background-color: #0048cd;
}
.bg-navy{
	background-color: #dadef5;
}

.btn-green{
	background-color: #0048cd;
	color: white;
	border:0px;
}
.text-strides{
	color: #0048cd;
}
.bg-strides{
	background-color: #0048cd;
}
.btn-strides{
	background-color: #0048cd;
	color: white;
	/*border:0px;*/
}
.btn-radius{
	border-radius: 10px;
	border:0px;
}

.bg-radius{
	border-radius: 10px;
	border:0px;
}
.profile-image{
	border-radius: 100%;
}

.bg-radius-lg{
	border-radius: 30px;
	border:0px;
}
.bg-radius-sm{
	border-radius: 10px;
	border:0px;
}
.bg-radius-md{
	border-radius: 20px;
	border:0px;
}
.bg-background{
	background-color: #ebf2f1;
}

.opacity-1{
	opacity: 0.1;
}
.opacity-2{
	opacity: 0.2;
}

.opacity-3{
	opacity: 0.3
}

.list-style{
	list-style: none;
}

.full-height{
	height: 100vh;
}

.fixed-index{
	z-index: 100;
}

.spining {
     	margin: 0;
	   position: absolute;               /* 2 */
	   top: 40%;    
	   right: 50%; 
	   left: 50%;                    /* 3 */
	   transform: translate(0, -10%);
    }

  .notification {
  	width: 100%,
     	margin: 0;
	   position: absolute;               /* 2 */
	   top: 50%;                       /* 3 */
	   transform: translate(0, -50%);
    }

 .display-none{
 	display: none;
 }
 .display-block{
 	display: block;
 }
 .min-height{
 	min-height: 100vh;
 }
 .small-font{
 	border: 3px dashed green;
 	border-radius: 100px;
 	background-color: green;
 	font-weight: bolder;
 }
 .z-index{
 	  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
 }

.whatsappLink{
	display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 20px;
    text-align: center;
    background-color: #27C34B;
    color: #fff;
    border-radius: 50%;
    border: 2px solid transparent;
    font-size: 15px;
    position: relative;
    margin: 10px;
}
.gmailLink{
	display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 20px;
    text-align: center;
    background-color: #00ACED;
    color: #fff;
    border-radius: 50%;
    border: 2px solid transparent;
    font-size: 15px;
    position: relative;
    margin: 10px;
}
.facebookLink{
	display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 20px;
    text-align: center;
    background-color: #3B5998;
    color: #fff;
    border-radius: 50%;
    border: 2px solid transparent;
    font-size: 15px;
    position: relative;
    margin: 10px;
}
.linkdinLink{

	display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 20px;
    text-align: center;
    background-color: #0077B5;
    color: #fff;
    border-radius: 50%;
    border: 2px solid transparent;
    font-size: 15px;
    position: relative;
    margin: 10px;
}

.thead-background{
	background-color: #ebf2f1;
}

 .sticky {
 	border:0px;
 	position: sticky;
 	top: 0;
 	z-index: 1;
 }
.opacity {
	opacity: 0.9;
}
.opacity-1 {
	opacity: 0.1;
}
.opacity-2 {
	opacity: 0.2;
}
.opacity-3 {
	opacity: 0.3;
}
.opacity-4 {
	opacity: 0.4;
}
.opacity-5 {
	opacity: 0.5;
}
.opacity-6 {
	opacity: 0.6;
}
.opacity-7 {
	opacity: 0.7;
}
.opacity-8 {
	opacity: 0.8;
}
 .side-bar{
 	width: 200px;
 	overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 100px; /* Place content 60px from the top */
  transition: 0.5s; 
 }
.side-bar >a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.side-bar >a:hover {
  color: #f1f1f1;
}

a >.hover-strides:hover {
	color: #0048cd;
}
.no-underline {
	text-decoration: none;
}
.side-bar .fa-times {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  margin-top: 30px;
}

.fixed {
	z-index: 100;
	width: 100%;
	height: 100vh;
	position: fixed;
	top:0;
	left: 0;
}
.fixed-times{
	z-index: 100;
	position: fixed;
	top:0;
	left: 0;	
	width: 100%;
}
#timeline{
	padding: 0;
	list-style:none;
}
#timeline  li>span {
	border-left: 5px solid black;
	padding-left: 10px;
}
.timeline-icon{
	margin-left: -25px;
}
.hide{
	display:none;
}
.hide-display{
	display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
		.nav-icon {
		display: none;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
		.nav-hide {
		display: none;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}