<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./assets/images/fav.png" sizes="150x150" type="image/png">
	<title>payMerchant</title>
	<link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="./assets/fontawesome/css/all.css">
</head>
<body id="app">
	<div class="container-fluid bg-green">
		<div class="container">		
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 text-center">
					<img  src="./assets/images/bglogo1.png">
				</div>
				<div class="col-12 col-sm-5 col-md-5 col-lg-5 mt-md-5 mt-lg-5 text-white">
					<h1>Fastest pay on-delivery payment platform.</h1>
					<p class="text-dark"><b>paymerchant makes it easy for Merchants and Buyers to transact payment without fear of fraud.</b></p>
					<button class="btn-lg btn-dark btn-radius buyers">Buyers</button>
					<button class="btn-lg btn-light btn-radius text-green merchants">Merchants</button>
				</div>
				<div class="col-12 col-sm-7 col-md-7 col-lg-7 mt-3">
					<img src="./assets/svg/transfer1.svg" width="100%" alt="online payment transfer">
				</div>
			</div>
		</div>
	</div>
	<div class="container mt-5">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12">
				<h1 class="text-center">HOW IT WORKS</h1>
			</div>
			<div class="col-md-12 col-sm-6 col-md-6 col-lg-6 mt-5">
				<ul class="list-group">
				  <li class="list-group-item bg-green text-white">For Buyers</li>
				  <li class="list-group-item">Create a prepaid invoice to give to your merchant</li>
				  <li class="list-group-item">Seller verifies invocie and ships your item</li>
				  <li class="list-group-item">Recieve your item(s) and approve merchant's payment.</li>
				  <li class="list-group-item text-center"><b class="btn btn-green btn-lg buyers">Get Started</b></li>
				</ul>
			</div>
			<div class="col-md-12 col-sm-6 col-md-6 col-lg-6 mt-5">
				<ul class="list-group">
				  <li class="list-group-item bg-dark text-white">For Merchants</li>
				  <li class="list-group-item">Create a prepaid invoice to give to your Seller</li>
				  <li class="list-group-item">Buyers verifies invocie and pays to <b class="bg-green p-1 text-white">payMerchant</b></li>
				  <li class="list-group-item">Deliver the item to the buyer and get your payment approved.</li>
				  <li class="list-group-item text-center"><b class="btn btn-dark btn-lg merchants">Get Started</b></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container bg-green bg-radius mt-5 p-5">
		<div class="row">
			<div class="col-md-12 col-sm-6 col-md-6 col-lg-6 mt-5">
				<h1 class="text-white">Buying and selling online made easier.</h1>	
				<p><b>Doing business can be difficult especially with a stranger whom you have not met before but payment should not be.</b></p>
				<p><b>We are in the business of eradicating peer to peer fraud by providing a platform for both  merchants and buyers to transact money</b></p>
				<p><b>With payMerchant, buyers money is safeguard until the items get delivered.</b><b>Money is transfered to the merchants account imediately buyer approve.</b></p>
				<button class="btn-lg btn-dark btn-radius buyers">Buyers</button>				
				<button class="btn-lg btn-light btn-radius text-green merchants">Merchants</button>
			</div>
			<div class="col-md-12 col-sm-6 col-md-6 col-lg-6 mt-5">
				<img src="./assets/svg/mobile_payment.svg" width="100%" alt="online payment transfer">	
			</div>
		</div>
	</div>
	<div class="container mt-5" id="pricing">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-md-12 col-lg-6 offset-lg-3 mt-5">
				<div class="card">
					<div class="card-header bg-green text-white">
						<h1 class="text-center">PRICING</h1>
					</div>
					<div class="card-body">
						<p>PayMerchant charges 3% of every successful transaction done and not more than 2,000 naira. </p>
						<p>So if the 3% of the transaction is more than 2,000 naira, it will be capped at 2,000naira.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container mt-5" id="faqs">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12">
				<h1 class="text-center">FAQs</h1>
			</div>
			<div class="col-md-12 col-sm-12 col-md-12 col-lg-12 mt-5">
				<ul class="list-group text-center">
				  <li class="list-group-item text-center bg-green text-white"><b class="btn btn-green btn-lg">How does pay merchant works ?</b></li>
				  <li class="list-group-item">
				  	Pay Merchant serves as a third party that transact money between merchants and buyers.
				  	<ul class="p-4">
				  		<li class="p-2">Merchants and Buyers agrees terms on their favourite market place, eg, WhatsApp, Facebook, Instagram etc.</li>
				  		<li class="p-2">Buyer pre aprove payment and the fund will be held by paymerchant.</li>
				  		<li class="p-2">Buyer pre aprove payment and the fund will be held by paymerchant.</li>
				  		<li class="p-2">Merchants delivers Item based on agreement and notifies paymerchant</li>
				  		<li class="p-2">Buyers confirm delivery- A 24 hour window is open for the buyer to confirm delivery or open a disput(If the item do not satisfy the agreement.)</li>
				  		<li class="p-2">If the Buyers confirms payment, the funds is imediately transfered to the merchant.</li>
				  	</ul>
				  </li>
				  <li class="list-group-item bg-green text-white"> How long will it take for me to get paid after delivering the Item?</li>
				  <li class="list-group-item">You will get paid imediately the buyers confirms the delivery on our platform.</li>
				  <li class="list-group-item bg-green text-white">How Much do you charge for transactions on payMerchant?</li>
				  <li class="list-group-item">We charge 3% of every transaction at a NGN2,000 CAP</li>
				  <li class="list-group-item text-center bg-green text-white"><b class="btn btn-green btn-lg">What happens if Seller does not confirm delivery After the item has been delivered?</b></li>
				  <li class="list-group-item">Once the item has been delivered and  if no action is taken by the Buyer within the 24 hour inspection window, the money will be sent to the Merchant and the transaction will be marked as complete.</li>
				</ul>
			</div>
		</div>
	</div>
	<footer class="container-fluid bg-dark mt-5 p-5">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-6 col-lg-6">
				<img  src="./assets/images/bglogo1.png">
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-6 text-white">
					<h3>Resources</h3>
				  <p><a href="#faqs" class="text-white">FAQs</a></p>
				  <p><a href="#pricing" class="text-white">Pricing</a></p>
				  <a href="/users/login"><p class="text-white">Login</p></a>
			</div>
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center mt-5 text-white">
				<p>© 2020 PayMerchant.</p>
			</div>
		</div>
	</footer>
</body>
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "f2d91052-f915-4174-acbd-39e8582f54d0",
    });
  });
</script>
 <script data-main="./assets/js/main" src = "./assets/js/require.js"></script>
</html>